form{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 60%;
    
}
.left{
    width: 50%;
}
.right{
    width: 50%;
}
.error{
    color: red;
}
button{
    width: 90px;
    height: 35px;
    background-color: tomato;
}